* {
  /* CSS Reset */
  margin: 0;
  padding: 0;
  font-family: arial;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: lighter;
}

.logo {
  max-width: 30vw;
  display: block;
  margin: auto;
  margin-bottom: 0;
}

nav {
  background-color: white;
  padding: 1rem 12rem 1rem 12rem;
  white-space: nowrap;
  position: sticky;
  top: 0em;
  
}

nav li {
  width: 25%;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;  
  
}

nav li a {
  text-decoration: none;
  color: #848484;
  font-family: 'Playfair Display', serif;
  
}

nav li a:hover {
  text-decoration: underline;
}

.current-page {
  color: #C08189;
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
}

article.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

article.about div.photo img {
  max-width: 50vw;
  margin: 3rem 1.5rem 1.5rem 3rem;
  order: 1;
}

article.about div.block-text {
  order: 2;
  max-width: 50vw;
  margin: 3rem 3rem 3rem 1.5rem; 
}

div.block-text p {
  margin-top: 2rem;
  line-height: 2.8rem;
}

div.photo p {
  margin: 0rem 1.5rem 3rem 3rem;
}

footer p {
  text-align: center;
}

footer p.copyright {
  margin-bottom: 2rem;
}

footer ul {
  max-width: 30vw;
  margin: auto;
  white-space: nowrap;
}

footer li {
  width: 33%;
  display: inline-block;
  text-align: center;
  
}

footer li img {
  max-height: 4rem;
  padding: 2rem 0rem;
}
